*{
	box-sizing: border-box;
}
html, body, .flex-container{
	height: 100%
}
body{
	/* background: #444; */
}
input{
	display: block;
	margin: 0 0 7px 0;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #AAA;
	width: 260px;
	height: 35px;
}

input[type=submit]{
	background: #AFA;
	color: #666;
	margin-top: 30px;
	padding: 8px;
}

form{
	padding: 20px;
	border: 1px solid #AAA;
	margin: 0 auto;
	border-radius: 5px;
	width: 300px;
	background: #CCC;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
