*{
	box-sizing: border-box;
	margin: 0;
	white-space: nowrap;
}
html, body{
	height: 100%;
	overflow: hidden;
}
nav{
  background: #F3F3F3;
  width: 300px;
  margin: 0;
  max-width: 100%;
  float: left;
  height: 100%;
}
.nav_item{
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: large;
}
.nav_item:nth-child(2n){
  background: #E0F1F8
}
.nav_item:nth-child(2n+1){
  background: #CFECF4
}
.nav_item:first-child{
  background: #F3F3F3
}
.nav_item:hover{
	background: #56B0E4;
	color: white;
}
#div_pesquisa{
	height: 50px;
	line-height: 50px;
	background: #3690C4;
	padding: 0 40px;
	text-align: right;
}
input{
	height: 30px;
	width: 260px;
	padding: 10px;
	border-radius: 1px;
	border: none;
}
header{
	background: #F3F3F3;
	height: 40px;
}
h1{
	display: inline-block;
	font-size: 25px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
.mail{
	padding: 10px;
	border-top: 1px solid #F3F3F3;
	border-bottom: 1px solid transparent;
	overflow: hidden;
	font-size: 15px;
}
.remetente{
	width: 220px;
	max-width: 35%;
	display: inline-block;
	overflow: hidden;
}
.assunto{
	width: 180px;
	max-width: 20%;
	display: inline-block;
	overflow: hidden;
}
.conteudo{
	max-width: 45%;
	display: inline-block;
	overflow: hidden;
}
.mail:hover{
	cursor: pointer;
	border-top: 1px solid #3690C4;
	border-bottom: 1px solid #3690C4;
}
#mails{
	overflow-y: auto;
}