* {
    box-sizing: border-box;
    margin: 0;
    white-space: nowrap;
}

html, body {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding-bottom: 60px;
}

nav {
    background: #F3F3F3;
    width: 260px;
    margin: 0;
    max-width: 100%;
    float: left;
    min-height: 110%;
}

a {
    text-decoration: none;
    color: initial;
}

label {
    display: block;
    width: 700px;
    max-width: 100%;
}

#div_pesquisa {
    height: 50px;
    line-height: 50px;
    background: #3690C4;
    padding: 0 40px;
    text-align: right;
}

#div_pesquisa input {
    height: 30px;
    width: 260px;
    padding: 10px;
    border-radius: 1px;
    border: none;
}

#div_pesquisa #logo {
    float: left;
}

#div_pesquisa #nome {
    float: left;
    color: white;
    font-size: 30px;
    margin: 0 10px;
}

.nav_item {
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
}

.nav_item:nth-child(2n) {
    background: #E0F1F8

}

.nav_item:nth-child(2n+1) {
    background: #CFECF4
}

.nav_item:hover {
    background: #56B0E4;
    color: white;
}

.ativo {
    background: #56B0E4 !important;
    border-radius: 0 10px 10px 0;
    color: white;
    width: 270px;
    cursor: default;
}

.mail {
    padding: 10px;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    font-size: 15px;
}

#mails .remetente, #excluidos .remetente, #mails_envi .destinatario {
    width: 220px;
    max-width: 35%;
    display: inline-block;
    overflow: hidden;
}

#mails .assunto, #excluidos .assunto, #mails_envi .assunto  {
    width: 180px;
    max-width: 40%;
    display: inline-block;
    overflow: hidden;
}

#mails .conteudo, #excluidos .conteudo, #mails_envi .conteudo  {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
}

.mail:hover {
    cursor: pointer;
    border-top: 1px solid #3690C4;
    border-bottom: 1px solid #3690C4;
}

#mails, #mail, #excluidos, #mails_envi, #mail_envi {
    overflow-y: auto;
    height: 100%;
    padding: 15px 35px;
}

#nova_mensagem {
    overflow-y: auto;
    height: 100%;
    padding: 15px 35px;
}

#nova_mensagem input:not([type=button]) {
    width: 100%;
    display: block;
    margin: 0 0 7px 0;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #AAA;
    height: 30px;
}

textarea {
    margin: 0 0 7px 0;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #AAA;
    resize: none;
    width: 100%;
    height: 400px;
    border: 1px solid #888;
    white-space: pre;
}

#nova_mensagem input[type=button] {
    color: white;
    background-color: #428bca;
    border-color: #357ebd;
    margin-top: 30px;
    padding: 12px;
    height: 45px;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    width: 100%;
    max-width: 700px;
}

#nova_mensagem input[type=button]:hover {
    background: #2069a8;
}

#menu {
    height: 32px;
    float: left;
    margin-top: 7px;
}

.hidden {
    display: none;
}

#voltar {
    background: transparent;
    color: white;
    text-align: left;
}

#mail .assunto, #mail_envi .assunto  {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mail .conteudo, #mail_envi .conteudo  {
    margin: 30px;
    white-space: pre-wrap;
    max-width: 100%;
    width: 700px;
    overflow: auto;
}

#mail input[type=button], #mail_envi input[type=button] {
    color: white;
    background-color: #428bca;
    border-color: #357ebd;
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    width: 100px;
}

#mail input[type=button]:hover, .excluir:hover, .restaurar:hover, #mail_envi input[type=button]:hover{
    background-color: #2069a8;
}

.excluir, .restaurar{
    display: inline-block;
    float: right;
    height: 21px;
    width: 21px;color: white;
    background-color: #428bca;
    border-color: #357ebd;cursor: pointer;
    border-radius: 6px;
    outline: none;
}

.excluir{ 
    background-image: url(../imagens/delete.png);
    background-size: cover;
}

.restaurar{ 
    background-image: url(../imagens/restore.png);
    background-size: cover;
}

@media (max-width: 700px) {
    #div_pesquisa {
        height: 100px;
        padding: 10px;
        text-align: right;
    }

    #div_pesquisa input {
        display: block;
        width: 100%;
    }

    #div_pesquisa #logo, #div_pesquisa #nome {
        float: right;
    }

    nav {
        width: 0;
    }

    .nav_item {
        width: 0;
    }

    #mails, #nova_mensagem, #mail, #excluidos, #mails_envi {
        padding: 5px 5px 100px 5px;
    }

    #mails .assunto, #mails .remetente, #mails .conteudo, 
    #excluidos .assunto, #excluidos .remetente, #excluidos .conteudo, 
    #mails_envi .assunto, #mails_envi .destinatario, #mails_envi .conteudo
    {
        display: block;
        max-width: 100%;
    }

    #menu {
        display: initial;
    }

    #mail .conteudo, #mail_envi .conteudo {
        margin: 10px;
    }
}